<h1><%=@title%></h1>
<h2>Current User List:</h2>
<div>
  <ul>
    <% @users.keys.each do |user| %>
        <li>
          <a href="/users/<%= user %>"><%= user.capitalize %></a>
        </li>
    <% end %>
  </ul>
</div>
