<!doctype html>
<html>
  <head>
    <title><%=@title%></title>
    <link rel="stylesheet" href="/stylesheets/users_and_interests.css">
  </head>

  <body>
    <%= yield %>
    <footer>
      <h2><%= count_interests %></h2>
    </footer>
  </body>
</html>